- if object.errors.any?
  .alert.alert-danger.alert-dismissable.alerts-fix#error_explanation
    %h3 Nao pode guardar #{model}:
    %p
      - object.errors.each do |name, message|
        = name
        &nbsp;
        &nbsp;
        \- &nbsp;
        = message
        %br
%br
