.page-header
  = link_to file_users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_file_user_path(@file_user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show file_user

%dl.dl-horizontal
  %dt Name:
  %dd= @file_user.name
