.home-page {
    width: 100%;
}
.header-home-page {
    height: 100px;
}
.body-home-page {
    display: flex;
    flex-direction: row;
    height: 100%;
     
}
.body-sign-in {
    height: 100%;
    width: 50%;
    font-size: 1.5rem;
    background-color: white;
 
}
.body-sign-in-logo {
    background-color: #007dc3;
    margin-right: 4px;
}
.logo{
    padding-top: 15px;
    scroll-padding-left: 8px;
}
.content-sign-in {
    width: 50%;
    height: 100%;
     

}

.header-app{
    background-color: black;
    height: 70px;
}
.header-app-links{
    display: flex;
    flex-direction: row;

 
}
.sign-in{
    display: none;
}
.log-in{
    display: block;
}

.required {
    color: blueviolet;    
}

.valid {
    background-color: green !important;
    color: white !important;
}


.invalid {
    background-color: crimson !important ;
    color: white !important ;
}

